.category {
    margin-left: 20px;
  }
   .content {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;   
    height: 80%;
   }

   .footer {
    display: flex;
    justify-content: center;
   }
   .enlinea {
    display: block;
    float: left;
    margin-left: 20px;
   }