<nb-tabset fullWidth>
    <nb-tab tabTitle="DOSAS">

        <nb-flip-card [showToggleButton]="false" [flipped]="flipped">

            <nb-card-front>
                <nb-card>


                    <div class="content" *ngIf="Dosasbuttom">
                        <button nbButton status="primary" class="iniciador" (click)="loadDosasCategory()"><nb-icon icon="file-text-outline"></nb-icon>INICIAR</button>
                    </div>
                    <div *ngIf="loadDosas">
                        <nb-card-body>

                            <div class="content" id="categorias_dosa">
                                <div class="category">
                                    <button nbButton status="primary" class="report_buttom" id="dos_dosa" (click)="get_report_list($event);"><nb-icon  icon="bulb-outline"></nb-icon>DOSAS</button>
                                    <button nbButton status="primary" class="report_buttom" id="dos_cliente" (click)="get_report_list($event);"><nb-icon  icon="bulb-outline"></nb-icon>CLIENTES</button>
                                    <button nbButton status="primary" class="report_buttom" id="dos_resumen_documento" (click)="get_report_list($event)"><nb-icon  icon="bulb-outline"></nb-icon>RESUMEN DE DOCUMENTOS</button>
                                    <div class="break"></div>
                                    <button nbButton status="primary" class="report_buttom" id="dos_estado_cuenta" (click)="get_report_list($event);"><nb-icon  icon="bulb-outline"></nb-icon>ESTADOS DE CUENTA ACTUAL</button>
                                    <button nbButton status="primary" class="report_buttom" id="dos_hasta" (click)="get_report_list($event)"><nb-icon  icon="bulb-outline"></nb-icon>HASTA</button>
                                    <button nbButton status="primary" class="report_buttom" id="dos_historico" (click)="get_report_list($event)"><nb-icon  icon="bulb-outline"></nb-icon>HISTÓRICO</button>
                                </div>
                            </div>

                        </nb-card-body>
                        <!-- <nb-icon icon="chevron-right-outline" pack="eva" class="flip-icon" (click)="toggleView()"></nb-icon> -->

                    </div>
                </nb-card>
            </nb-card-front>
            <nb-card-back>
                <nb-card>
                    <div *ngIf="loadDosas">
                        <nb-card-body>
                            <div class="content">
                                <div class="col-md-4">
                                    <nb-select placeholder="Seleccion Reporte" fullWidth [(ngModel)]="reportex" (selectedChange)="getcampos($event);">
                                        <nb-option *ngFor = "let REPORTES of REPORTES"  value="{{REPORTES.value}}"> {{ REPORTES.description}} </nb-option>
                                    </nb-select>
                                </div>

                            </div>

                            <div class="content" *ngIf="loadcliente">

                                <div class="col-md-4">
                                    <div class="form-group">

                                        <nb-select placeholder="Cliente" [(ngModel)]="clientex" id="select_cliente" fullWidth>
                                            <nb-option *ngFor = "let client of lstCliente"  value="{{client.razon_social}}"> {{ client.razon_social}} </nb-option>
                                        </nb-select>

                                    </div>
                                </div>

                            </div>

                            <div class="content" *ngIf="loaddocumento">
                                <div class="col-md-4">
                                    <div class="form-group">

                                        <nb-select placeholder="Tipo de Documento" id="select_tdocumento" [(ngModel)]="tipodoc" fullWidth>
                                            <nb-option value="0">Factura</nb-option>
                                            <nb-option value="1">Nota de Crédito</nb-option>
                                            <nb-option value="2">Nota de Debito</nb-option>
                                        </nb-select>

                                    </div>
                                </div>
                            </div>


                            <div class="content" *ngIf="loadservicio">
                                <div class="col-md-4">
                                    <div class="form-group">

                                        <nb-select placeholder="Servicio"
                                        (selectedChange)="consultarConcepto($event)" 
                                        [(ngModel)]="servicio" 
                                        fullWidth>
                                            <nb-option *ngFor = "let serv of lstServicio"  value="{{serv.cd_servicio}}"> {{ serv.cd_servicio + ' - ' + serv.nb_servicio}} </nb-option>
                                        </nb-select>

                                    </div>
                                </div>
                            </div>


                            <div class="content" *ngIf="loadserie">
                                <div class="col-md-4">
                                    <div class="form-group">

                                        <nb-select placeholder="Tipo de Serie" id="select_tserie" fullWidth>
                                            <nb-option value="0">0</nb-option>
                                            <nb-option value="1">0</nb-option>
                                            <nb-option value="2">0</nb-option>
                                        </nb-select>

                                    </div>
                                </div>
                            </div>


                            <div class="content" *ngIf="loadseniat">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label># SENIAT:</label>
                                        <br>
                                        <input class="dobleimput"  placeholder="Desde" id="input_seniat_desde" nbInput >
                                        <input class="dobleimput"  placeholder="Hasta" id="input_seniat_hasta" nbInput >
                                    </div>
                                </div>
                            </div>


                            <div class="content" *ngIf="loadrango">
                                <div class="col-md-4">
                                    <div>
                                        <div class="form-group">
                                            <label>Fechas:</label>
                                            <br>
                                            <input nbInput placeholder="Desde" id="fecha_desde" *ngIf="loaddesde" [nbDatepicker]="desde">
                                            <nb-datepicker #desde></nb-datepicker>
                                            <input nbInput placeholder="Hasta" id="fecha_hasta" *ngIf="loadhasta" [nbDatepicker]="hasta">
                                            <nb-datepicker #hasta></nb-datepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="content">

                                <button nbButton status="primary" class="report_buttom" (click)="toggleView()"><nb-icon icon="arrow-ios-back-outline"></nb-icon>REGRESAR</button>
                                <button nbButton status="success" class="report_buttom" id="print_doc"><nb-icon icon="printer-outline"></nb-icon>IMPRIMIR</button>

                            </div>

                        </nb-card-body>
                    </div>
                    <!-- <nb-icon icon="chevron-right-outline" pack="eva" class="flip-icon" (click)="toggleView()"></nb-icon> -->
                </nb-card>
            </nb-card-back>
        </nb-flip-card>

    </nb-tab>

    <nb-tab tabTitle="TERMINAL AUXILIAR">

        <nb-flip-card [showToggleButton]="false" [flipped]="flipped">

            <nb-card-front>
                <nb-card>

                    <div class="content" *ngIf="Terminalbuttom">
                        <button nbButton status="primary" class="iniciador" (click)="loadTerminalCategory()"><nb-icon icon="file-text-outline"></nb-icon>INICIAR</button>
                    </div>
                    <div *ngIf="loadterminal">
                        <nb-card-body>

                            <div class="content" id="categorias_terminal_auxiliar">
                                <div class="category">
                                    <button nbButton status="primary" class="report_buttom" (click)="get_report_list($event)" id="tea_cliente" ><nb-icon  icon="bulb-outline"></nb-icon>	CLIENTES	</button>
                                    <button nbButton status="primary" class="report_buttom" (click)="get_report_list($event)" id="tea_facturas_anuladas" ><nb-icon  icon="bulb-outline"></nb-icon>	FACTURAS ANULADAS	</button>
                                    <button nbButton status="primary" class="report_buttom" (click)="get_report_list($event)" id="tea_relacion_ingresos_diarios" ><nb-icon  icon="bulb-outline"></nb-icon>RELACIÓN Y/O INGRESOS DIARIOS TERMINAL AUXILIAR 	</button>
                                    <div class="break"></div>
                                    <button nbButton status="primary" class="report_buttom" (click)="get_report_list($event)" id="tea_resumen_documentos" ><nb-icon  icon="bulb-outline"></nb-icon>	RESUMEN DE DOCUMENTOS	</button>
                                    <button nbButton status="primary" class="report_buttom" (click)="get_report_list($event)" id="tea_estado_cuenta" ><nb-icon  icon="bulb-outline"></nb-icon>	ESTADOS DE CUENTA ACTUAL	</button>
                                    <button nbButton status="primary" class="report_buttom" (click)="get_report_list($event)" id="tea_totales_servicios" ><nb-icon  icon="bulb-outline"></nb-icon>	TOTALES DE SERVICIOS	</button>
                                </div>
                            </div>

                        </nb-card-body>
                        <!-- <nb-icon icon="chevron-right-outline" pack="eva" class="flip-icon" (click)="toggleView()"></nb-icon>  ><nb-icon -->

                    </div>
                </nb-card>
            </nb-card-front>
            <nb-card-back>
                <nb-card>
                    <div *ngIf="loadterminal">
                        <nb-card-body>
                            <div class="content">
                                <div class="col-md-4">
                                    <nb-select placeholder="Seleccion Reporte" fullWidth [(ngModel)]="reportex" (selectedChange)="getcampos($event);">
                                        <nb-option *ngFor = "let REPORTES of REPORTES"  value="{{REPORTES.value}}"> {{ REPORTES.description}} </nb-option>
                                    </nb-select>
                                </div>

                            </div>

                            <div class="content" *ngIf="loadcliente">

                                <div class="col-md-4">
                                    <div class="form-group">

                                        <nb-select placeholder="Cliente" [(ngModel)]="clientex" id="select_cliente" fullWidth>
                                            <nb-option *ngFor = "let client of lstCliente"  value="{{client.razon_social}}"> {{ client.razon_social}} </nb-option>
                                        </nb-select>

                                    </div>
                                </div>

                            </div>

                            <div class="content" *ngIf="loaddocumento">
                                <div class="col-md-4">
                                    <div class="form-group">

                                        <nb-select placeholder="Tipo de Documento" id="select_tdocumento" [(ngModel)]="tipodoc" fullWidth>
                                            <nb-option value="0">Factura</nb-option>
                                            <nb-option value="1">Nota de Crédito</nb-option>
                                            <nb-option value="2">Nota de Debito</nb-option>
                                        </nb-select>

                                    </div>
                                </div>
                            </div>


                            <div class="content" *ngIf="loadservicio">
                                <div class="col-md-4">
                                    <div class="form-group">

                                        <nb-select placeholder="Servicio"
                                        (selectedChange)="consultarConcepto($event)" 
                                        [(ngModel)]="servicio" 
                                        fullWidth>
                                            <nb-option *ngFor = "let serv of lstServicio"  value="{{serv.cd_servicio}}"> {{ serv.cd_servicio + ' - ' + serv.nb_servicio}} </nb-option>
                                        </nb-select>

                                    </div>
                                </div>
                            </div>


                            <div class="content" *ngIf="loadserie">
                                <div class="col-md-4">
                                    <div class="form-group">

                                        <nb-select placeholder="Tipo de Serie" id="select_tserie" fullWidth>
                                            <nb-option value="0">0</nb-option>
                                            <nb-option value="1">0</nb-option>
                                            <nb-option value="2">0</nb-option>
                                        </nb-select>

                                    </div>
                                </div>
                            </div>


                            <div class="content" *ngIf="loadseniat">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label># SENIAT:</label>
                                        <br>
                                        <input class="dobleimput" placeholder="Desde" id="input_seniat_desde" nbInput >
                                        <input class="dobleimput" placeholder="Hasta" id="input_seniat_hasta" nbInput >
                                    </div>
                                </div>
                            </div>


                            <div class="content" *ngIf="loadrango">
                                <div class="col-md-4">
                                    <div>
                                        <div class="form-group">
                                            <label>Fechas:</label>
                                            <br>
                                            <input nbInput placeholder="Desde" id="fecha_desde" *ngIf="loaddesde" [nbDatepicker]="desde">
                                            <nb-datepicker #desde></nb-datepicker>
                                            <input nbInput placeholder="Hasta" id="fecha_hasta" *ngIf="loadhasta" [nbDatepicker]="hasta">
                                            <nb-datepicker #hasta></nb-datepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="content">

                                <button nbButton status="primary" class="report_buttom" (click)="toggleView()"><nb-icon icon="arrow-ios-back-outline"></nb-icon>REGRESAR</button>
                                <button nbButton status="success" class="report_buttom" id="print_doc"><nb-icon icon="printer-outline"></nb-icon>IMPRIMIR</button>

                            </div>

                        </nb-card-body>
                    </div>
                    <!-- <nb-icon icon="chevron-right-outline" pack="eva" class="flip-icon" (click)="toggleView()"></nb-icon> -->
                </nb-card>
            </nb-card-back>
        </nb-flip-card>

    </nb-tab>

    <nb-tab tabTitle="RECAUDACIÓN">

        <nb-flip-card [showToggleButton]="false" [flipped]="flipped">

            <nb-card-front>
                <nb-card>


                    <div class="content" *ngIf="Recaudacionbuttom">
                        <button nbButton status="primary" class="iniciador" (click)="loadRecaudaccionCategory()"><nb-icon icon="file-text-outline"></nb-icon>INICIAR</button>
                    </div>
                    <div *ngIf="loadrecaudacion">
                        <nb-card-body>

                            <div class="content" id="categorias_recaudacion">
                                <div class="category">
                                    <button nbButton status="primary" class="report_buttom" (click)="get_report_list($event)" id="rec_documentos_abiertos" ><nb-icon  icon="bulb-outline"></nb-icon>	DOCUMENTOS ABIERTOS	</button>
                                    <button nbButton status="primary" class="report_buttom" (click)="get_report_list($event)" id="rec_libro_ventas" ><nb-icon  icon="bulb-outline"></nb-icon>	LIBRO DE VENTAS	</button>
                                    <button nbButton status="primary" class="report_buttom" (click)="get_report_list($event)" id="rec_retenciones" ><nb-icon  icon="bulb-outline"></nb-icon>	RETENCIONES	</button>
                                    <button nbButton status="primary" class="report_buttom" (click)="get_report_list($event)" id="rec_relacion_ingresos" ><nb-icon  icon="bulb-outline"></nb-icon>	RELACIÓN Y/O INGRESOS	</button>
                                    <div class="break"></div>
                                    <button nbButton status="primary" class="report_buttom" (click)="get_report_list($event)" id="rec_clientes" ><nb-icon  icon="bulb-outline"></nb-icon>	CLIENTES	</button>
                                    <button nbButton status="primary" class="report_buttom" (click)="get_report_list($event)" id="rec_listados" ><nb-icon  icon="bulb-outline"></nb-icon>	LISTADOS	</button>
                                    <button nbButton status="primary" class="report_buttom" (click)="get_report_list($event)" id="rec_estado_cuenta" ><nb-icon  icon="bulb-outline"></nb-icon>	ESTADO DE CUENTA	</button>
                                    <button nbButton status="primary" class="report_buttom" (click)="get_report_list($event)" id="rec_resumen" ><nb-icon  icon="bulb-outline"></nb-icon>	RESUMEN	</button>
                                    <div class="break"></div>
                                    <button nbButton status="primary" class="report_buttom" (click)="get_report_list($event)" id="rec_relacion_dia" ><nb-icon  icon="bulb-outline"></nb-icon>	RELACIONES DEL DIA	</button>
                                    <button nbButton status="primary" class="report_buttom" (click)="get_report_list($event)" id="rec_recibos" ><nb-icon  icon="bulb-outline"></nb-icon>	RECIBOS	</button>
                                    <button nbButton status="primary" class="report_buttom" (click)="get_report_list($event)" id="rec_nota_credito" ><nb-icon  icon="bulb-outline"></nb-icon>	NOTAS DE CRÉDITO	</button>
                                </div>
                            </div>

                        </nb-card-body>
                        <!-- <nb-icon icon="chevron-right-outline" pack="eva" class="flip-icon" (click)="toggleView()"></nb-icon> -->

                    </div>
                </nb-card>
            </nb-card-front>
            <nb-card-back>
                <nb-card>
                    <div *ngIf="loadrecaudacion">
                        <nb-card-body>
                            <div class="content">
                                <div class="col-md-4">
                                    <nb-select placeholder="Seleccion Reporte" fullWidth [(ngModel)]="reportex" (selectedChange)="getcampos($event);">
                                        <nb-option *ngFor = "let REPORTES of REPORTES"  value="{{REPORTES.value}}"> {{ REPORTES.description}} </nb-option>
                                    </nb-select>
                                </div>

                            </div>

                            <div class="content" *ngIf="loadcliente">

                                <div class="col-md-4">
                                    <div class="form-group">

                                        <nb-select placeholder="Cliente" [(ngModel)]="clientex" id="select_cliente" fullWidth>
                                            <nb-option *ngFor = "let client of lstCliente"  value="{{client.razon_social}}"> {{ client.razon_social}} </nb-option>
                                        </nb-select>

                                    </div>
                                </div>

                            </div>

                            <div class="content" *ngIf="loaddocumento">
                                <div class="col-md-4">
                                    <div class="form-group">

                                        <nb-select placeholder="Tipo de Documento" id="select_tdocumento" [(ngModel)]="tipodoc" fullWidth>
                                            <nb-option value="0">Factura</nb-option>
                                            <nb-option value="1">Nota de Crédito</nb-option>
                                            <nb-option value="2">Nota de Debito</nb-option>
                                        </nb-select>

                                    </div>
                                </div>
                            </div>


                            <div class="content" *ngIf="loadservicio">
                                <div class="col-md-4">
                                    <div class="form-group">

                                        <nb-select placeholder="Servicio"
                                        (selectedChange)="consultarConcepto($event)" 
                                        [(ngModel)]="servicio" 
                                        fullWidth>
                                            <nb-option *ngFor = "let serv of lstServicio"  value="{{serv.cd_servicio}}"> {{ serv.cd_servicio + ' - ' + serv.nb_servicio}} </nb-option>
                                        </nb-select>

                                    </div>
                                </div>
                            </div>


                            <div class="content" *ngIf="loadserie">
                                <div class="col-md-4">
                                    <div class="form-group">

                                        <nb-select placeholder="Tipo de Serie" id="select_tserie" fullWidth>
                                            <nb-option value="0">0</nb-option>
                                            <nb-option value="1">0</nb-option>
                                            <nb-option value="2">0</nb-option>
                                        </nb-select>

                                    </div>
                                </div>
                            </div>


                            <div class="content" *ngIf="loadseniat">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label># SENIAT:</label>
                                        <br>
                                        <input class="dobleimput" placeholder="Desde" id="input_seniat_desde" nbInput >
                                        <input class="dobleimput" placeholder="Hasta" id="input_seniat_hasta" nbInput >
                                    </div>
                                </div>
                            </div>


                            <div class="content" *ngIf="loadrango">
                                <div class="col-md-4">
                                    <div>
                                        <div class="form-group">
                                            <label>Fechas:</label>
                                            <br>
                                            <input nbInput placeholder="Desde" id="fecha_desde" *ngIf="loaddesde" [nbDatepicker]="desde">
                                            <nb-datepicker #desde></nb-datepicker>
                                            <input nbInput placeholder="Hasta" id="fecha_hasta" *ngIf="loadhasta" [nbDatepicker]="hasta">
                                            <nb-datepicker #hasta></nb-datepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="content">

                                <button nbButton status="primary" class="report_buttom" (click)="toggleView()"><nb-icon icon="arrow-ios-back-outline"></nb-icon>REGRESAR</button>
                                <button nbButton status="success" class="report_buttom" id="print_doc"><nb-icon icon="printer-outline"></nb-icon>IMPRIMIR</button>

                            </div>

                        </nb-card-body>
                    </div>
                    <!-- <nb-icon icon="chevron-right-outline" pack="eva" class="flip-icon" (click)="toggleView()"></nb-icon> -->
                </nb-card>
            </nb-card-back>
        </nb-flip-card>

    </nb-tab>

    <nb-tab tabTitle="HABILITADURIA">

        <nb-flip-card [showToggleButton]="false" [flipped]="flipped">

            <nb-card-front>
                <nb-card>

                    <div class="content" *ngIf="Habilitaduriabuttom">
                        <button nbButton status="primary" class="iniciador" (click)="loadHabilitaduriaCategory()"><nb-icon icon="file-text-outline"></nb-icon>INICIAR</button>
                    </div>
                    <div *ngIf="loadhabilitaduria">
                        <nb-card-body>

                            <div class="content" id="categorias_habilitaduria">
                                <div class="category">
                                    <button nbButton status="primary" class="report_buttom" (click)="get_report_list($event)" id="hab_cliente" ><nb-icon  icon="bulb-outline"></nb-icon>	CLIENTES	</button>
                                    <button nbButton status="primary" class="report_buttom" (click)="get_report_list($event)" id="hab_facturas_anuladas" ><nb-icon  icon="bulb-outline"></nb-icon>	FACTURAS ANULADAS	</button>
                                    <div class="break"></div>
                                    <button nbButton status="primary" class="report_buttom" (click)="get_report_list($event)" id="hab_relacion_ingresos_diarios" ><nb-icon  icon="bulb-outline"></nb-icon>	RELACIÓN Y/O INGRESOS DIARIOS	</button>
                                    <button nbButton status="primary" class="report_buttom" (click)="get_report_list($event)" id="hab_resumen_documentos" ><nb-icon  icon="bulb-outline"></nb-icon>	RESUMEN DE DOCUMENTOS	</button>
                                </div>
                            </div>

                        </nb-card-body>
                        <!-- <nb-icon icon="chevron-right-outline" pack="eva" class="flip-icon" (click)="toggleView()"></nb-icon> -->

                    </div>
                </nb-card>
            </nb-card-front>
            <nb-card-back>
                <nb-card>
                    <div *ngIf="loadhabilitaduria">
                        <nb-card-body>
                            <div class="content">
                                <div class="col-md-4">
                                    <nb-select placeholder="Seleccion Reporte" fullWidth [(ngModel)]="reportex" (selectedChange)="getcampos($event);">
                                        <nb-option *ngFor = "let REPORTES of REPORTES"  value="{{REPORTES.value}}"> {{ REPORTES.description}} </nb-option>
                                    </nb-select>
                                </div>

                            </div>

                            <div class="content" *ngIf="loadcliente">

                                <div class="col-md-4">
                                    <div class="form-group">

                                        <nb-select placeholder="Cliente" [(ngModel)]="clientex" id="select_cliente" fullWidth>
                                            <nb-option *ngFor = "let client of lstCliente"  value="{{client.razon_social}}"> {{ client.razon_social}} </nb-option>
                                        </nb-select>

                                    </div>
                                </div>

                            </div>

                            <div class="content" *ngIf="loaddocumento">
                                <div class="col-md-4">
                                    <div class="form-group">

                                        <nb-select placeholder="Tipo de Documento" id="select_tdocumento" [(ngModel)]="tipodoc" fullWidth>
                                            <nb-option value="0">Factura</nb-option>
                                            <nb-option value="1">Nota de Crédito</nb-option>
                                            <nb-option value="2">Nota de Debito</nb-option>
                                        </nb-select>

                                    </div>
                                </div>
                            </div>


                            <div class="content" *ngIf="loadservicio">
                                <div class="col-md-4">
                                    <div class="form-group">

                                        <nb-select placeholder="Servicio"
                                        (selectedChange)="consultarConcepto($event)" 
                                        [(ngModel)]="servicio" 
                                        fullWidth>
                                            <nb-option *ngFor = "let serv of lstServicio"  value="{{serv.cd_servicio}}"> {{ serv.cd_servicio + ' - ' + serv.nb_servicio}} </nb-option>
                                        </nb-select>

                                    </div>
                                </div>
                            </div>


                            <div class="content" *ngIf="loadserie">
                                <div class="col-md-4">
                                    <div class="form-group">

                                        <nb-select placeholder="Tipo de Serie" id="select_tserie" fullWidth>
                                            <nb-option value="0">0</nb-option>
                                            <nb-option value="1">0</nb-option>
                                            <nb-option value="2">0</nb-option>
                                        </nb-select>

                                    </div>
                                </div>
                            </div>


                            <div class="content" *ngIf="loadseniat">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label># SENIAT:</label>
                                        <br>
                                        <input class="dobleimput" placeholder="Desde" id="input_seniat_desde" nbInput >
                                        <input class="dobleimput" placeholder="Hasta" id="input_seniat_hasta" nbInput >
                                    </div>
                                </div>
                            </div>


                            <div class="content" *ngIf="loadrango">
                                <div class="col-md-4">
                                    <div>
                                        <div class="form-group">
                                            <label>Fechas:</label>
                                            <br>
                                            <input nbInput placeholder="Desde" id="fecha_desde" *ngIf="loaddesde" [nbDatepicker]="desde">
                                            <nb-datepicker #desde></nb-datepicker>
                                            <input nbInput placeholder="Hasta" id="fecha_hasta" *ngIf="loadhasta" [nbDatepicker]="hasta">
                                            <nb-datepicker #hasta></nb-datepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="content">

                                <button nbButton status="primary" class="report_buttom" (click)="toggleView()"><nb-icon icon="arrow-ios-back-outline"></nb-icon>REGRESAR</button>
                                <button nbButton status="success" class="report_buttom" id="print_doc"><nb-icon icon="printer-outline"></nb-icon>IMPRIMIR</button>

                            </div>

                        </nb-card-body>
                    </div>
                    <!-- <nb-icon icon="chevron-right-outline" pack="eva" class="flip-icon" (click)="toggleView()"></nb-icon> -->
                </nb-card>
            </nb-card-back>
        </nb-flip-card>

    </nb-tab>
</nb-tabset>