<nb-card accent="success">
    <nb-card-header>Pagos</nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input placeholder="Codigo" 
                        nbInput fullWidth 
                        [(ngModel)]="codigo" 
                        (blur)="consultarCliente($event)"
                        [disabled] = "ngFactura"
                    >
    
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <input placeholder="Cliente" nbInput fullWidth  
                    [(ngModel)]="cliente"                                                     
                    [disabled] = "ngFactura" disabled>
                </div>
            </div>
        
        </div>
        <div class="row" >
            <div class="col-md-4">
                <div class="form-group">
                    <input nbInput fullWidth [(ngModel)]="rif" disabled>
                    
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <input nbInput fullWidth  [(ngModel)]="direccion" disabled>
                </div>
            </div>
        
        </div> 
        <div class="row">                    
            <div class="col-md-3">                
                    <button nbButton (click)="lstPagos()" shape="semi-round" size="medium" hero status="primary">
                        Documentos Pendientes <nb-icon icon="search-outline"></nb-icon>
                    </button>
            </div>
        </div>

        

        <hr>
                
        


        <br>


        <br><br>

        <table mat-table [dataSource]="dataSources" class="mat-elevation-z8">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
                </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="Reglon">
                <th mat-header-cell *matHeaderCellDef> Reglon. </th>
                <td mat-cell *matCellDef="let element"> {{element.Reglon}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="Control">
                <th mat-header-cell *matHeaderCellDef> Control </th>
                <td mat-cell *matCellDef="let element"> {{element.Control}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Seniat">
                <th mat-header-cell *matHeaderCellDef> Seniat </th>
                <td mat-cell *matCellDef="let element"> {{element.Seniat}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="Servicio">
                <th mat-header-cell *matHeaderCellDef> Servicio </th>
                <td mat-cell *matCellDef="let element"> {{element.Servicio}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="Tipo">
                <th mat-header-cell *matHeaderCellDef> Tipo </th>
                <td mat-cell *matCellDef="let element"> {{element.Tipo}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="Moneda">
                <th mat-header-cell *matHeaderCellDef> Moneda </th>
                <td mat-cell *matCellDef="let element"> {{element.Moneda}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="Fecha">
                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                <td mat-cell *matCellDef="let element"> {{element.Fecha}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="Monto">
                <th mat-header-cell *matHeaderCellDef> Monto </th>
                <td mat-cell *matCellDef="let element"> {{element.Monto}} </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="selection.toggle(row)">
            </tr>
            </table>

             <button nbButton fullWidth  (click)="Procesar()" type="submit" class="home-button pull-right" status="primary">
                Procesar
            </button>

    </nb-card-body>
</nb-card>




               
               

                

            

 
<ng-template #disabledEsc>
    
</ng-template>


<ng-template #escClose>
    <div class="row">

        <div class="col-md-5">
            <div class="form-group">                            
                <nb-select placeholder="Forma de Pago" [(selected)]="selectedItem" fullWidth  [(ngModel)]="forma" >
                    <nb-option value="000">DEPOSITO</nb-option>
                    <nb-option value="001">TRANSFERENCIA</nb-option>
                    <nb-option value="002">EFECTIVO</nb-option>
                </nb-select>
            </div>
        </div>
        <div class="col-md-7">
            <div class="form-group">                            
                <nb-select placeholder="Seleccionar Banco" [(selected)]="selectedItemx" fullWidth  [(ngModel)]="banco" >
                    <nb-option *ngFor="let banc of lstBancos" value="{{banc.id_banco}}">{{ banc.id_banco + '-' + banc.des_banco}}</nb-option>
                </nb-select>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                
                <input nbInput fullWidth placeholder="Fecha" [(ngModel)]="fechadep" 
                    [nbDatepicker]="formpicker" >
                    <nb-datepicker #formpicker ></nb-datepicker>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <input placeholder="Monto" 
                    nbInput fullWidth 
                    [(ngModel)]="montofact"                   
                    [disabled] = "true"
                >

            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <input placeholder="Monto" 
                    nbInput fullWidth 
                    [(ngModel)]="montofactd"                   
                    [disabled] = "true"
                >

            </div>
        </div>

        <div class="col-md-9"></div>
        <div class="col-md-3">
                <button 
                    nbButton fullWidth  (click)="Pagar()" type="submit" 
                    class="home-button pull-right" status="success">
                        Pagar
                </button>

        </div>
      
    </div>
</ng-template>

