<nb-card accent="success">
    <nb-card-header>Pagos</nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Codigo</label>
                    <input placeholder="Codigo" 
                        nbInput fullWidth 
                        [(ngModel)]="codigo" 
                        (blur)="consultarCliente($event)"
                        [disabled] = "ngFactura"
                    >
    
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label>Datos del Cliente</label>
                    <input placeholder="Cliente" nbInput fullWidth  
                    [(ngModel)]="cliente"                                                     
                    [disabled] = "ngFactura" disabled>
                </div>
            </div>
        
        </div>
        <div class="row" >
            <div class="col-md-4">
                <div class="form-group">
                    <label>Rif</label>
                    <input nbInput fullWidth [(ngModel)]="rif" disabled>
                    
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label>Dirección</label>
                    <input nbInput fullWidth  [(ngModel)]="direccion" disabled>
                </div>
            </div>
        
        </div> 
        <div class="row">                    
            <div class="col-md-3">                
                    <button nbButton (click)="lstPagos()" shape="semi-round" size="medium" hero status="primary">
                        Documentos Pendientes <nb-icon icon="search-outline"></nb-icon>
                    </button>
            </div>
            <div class="col-md-6">
                
            </div>
            
        </div>

        

        <hr>
        <div class="row">     
            <div class="col-md-9">
                
            </div>      
            <div class="col-md-3">
                <div class="form-group">
                    <label>Monto total</label>
                    <input nbInput fullWidth  type="number" [(ngModel)]="montoTotal" disabled step="0.01">
                </div>
            </div>
        </div>
        <br>
        <table mat-table [dataSource]="dataSources" class="mat-elevation-z8">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation(); clickMontoTotal(row)"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)"
                                    [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="Reglon">
                <th mat-header-cell *matHeaderCellDef> Reglon. </th>
                <td mat-cell *matCellDef="let element"> {{element.Reglon}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="Control">
                <th mat-header-cell *matHeaderCellDef> Control </th>
                <td mat-cell *matCellDef="let element"> {{element.Control}} </td>
            </ng-container>

            <!-- Weight Column -->
                <ng-container matColumnDef="Seniat">
                <th mat-header-cell *matHeaderCellDef> Seniat </th>
                <td mat-cell *matCellDef="let element"> {{element.Seniat}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="Servicio">
                <th mat-header-cell *matHeaderCellDef> Servicio </th>
                <td mat-cell *matCellDef="let element"> {{element.Servicio}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="Tipo">
                <th mat-header-cell *matHeaderCellDef> Tipo </th>
                <td mat-cell *matCellDef="let element"> {{element.Tipo}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="Moneda">
                <th mat-header-cell *matHeaderCellDef> Moneda </th>
                <td mat-cell *matCellDef="let element"> {{element.Moneda}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="Fecha">
                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                <td mat-cell *matCellDef="let element"> {{element.Fecha}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="Monto">
                <th mat-header-cell *matHeaderCellDef> Monto </th>
                <td mat-cell *matCellDef="let element"> {{element.Monto}} </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="selection.toggle(row)">
            </tr>
            </table>
            <br>
            <div class="row">
            <div class="col-md-3" >
             <button nbButton size="large" width="100%" shape="semi-round" (click)="Procesar('top-right','success')" type="submit" status="success">
                Procesar Facturación<nb-icon icon="file-text-outline"></nb-icon>
            </button>
            </div>
            </div>
    </nb-card-body>
</nb-card>




               
               

                

            

 
<ng-template #disabledEsc>
    
</ng-template>


<ng-template #escClose>
    <div class="row">

        <div class="col-md-5">
            <div class="form-group">                            
                <nb-select placeholder="Forma de Pago"(selected)="selectedItem" 
                fullWidth  
                [(ngModel)]="forma" >
                    <nb-option *ngFor = "let pag of lstFPago"  
                    value="{{pag.tp_pago}}"> {{ pag.tp_pago + ' - ' + pag.ds_pago}} </nb-option>
                </nb-select>
            </div>
        </div>
        <div class="col-md-7">
            <div class="form-group">                            
                <nb-select placeholder="Seleccionar Banco" [(selected)]="selectedItemx" fullWidth  [(ngModel)]="banco" >
                    <nb-option *ngFor="let banc of lstBancos" value="{{banc.id_banco}}">{{ banc.id_banco + '-' + banc.des_banco}}</nb-option>
                </nb-select>
            </div>
        </div>

        <div class="col-md-5">
            <div class="form-group">
                
                <input nbInput fullWidth placeholder="Fecha" [(ngModel)]="fechadep" 
                    [nbDatepicker]="formpicker" >
                    <nb-datepicker #formpicker ></nb-datepicker>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <input placeholder="Monto" 
                    nbInput fullWidth 
                    [(ngModel)]="montofact">                   
                    
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <input placeholder="Monto" 
                    nbInput fullWidth 
                    [(ngModel)]="montofactd"                   
                    [disabled] = "true">
                    
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <button nbButton (click)="BtnAgregar( )" 
                    class='home-button pull-left' status="primary">
                    <nb-icon icon="plus-circle-outline" ></nb-icon>                        
                </button>
            </div>
        </div>

        
        
      
    </div>

    <div class="row">
            <div class="col-md-12" >
                    <table mat-table [dataSource]="dataSourcesPagos" class="mat-elevation-z8" width="100%" height="100%">
                                                    

                            <!-- Checkbox Column -->
                            <ng-container matColumnDef="button">
                                <th mat-header-cell *matHeaderCellDef>#Acc
                                   
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <button nbButton (click)="BtnEliminar( this.row )"
                                            size="tiny" ghost status="danger">
                                        <nb-icon icon="trash" ></nb-icon>
                                        
                                    </button>
                                </td>
                            </ng-container>
                              <!-- Position Codigo -->
                            <ng-container matColumnDef="Operacion">
                                <th mat-header-cell *matHeaderCellDef  style="display: none">Operacion</th>
                                <td mat-cell *matCellDef="let element" style="display: none">{{element.Operacion}}</td>
                            </ng-container>
                              <!-- Position Cuenta -->
                            <ng-container matColumnDef="Banco">
                                <th mat-header-cell *matHeaderCellDef>Banco</th>
                                <td mat-cell *matCellDef="let element">{{element.Banco}}</td>
                            </ng-container>

                            <!-- Position Column -->
                            <ng-container matColumnDef="Referencia">
                                <th mat-header-cell *matHeaderCellDef>Referencia</th>
                                <td mat-cell *matCellDef="let element">{{element.Referencia}}</td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="Fecha">
                                <th mat-header-cell *matHeaderCellDef>Fecha</th>
                                <td mat-cell *matCellDef="let element"> {{element.FechadPag}} </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="Monto">
                                <th mat-header-cell *matHeaderCellDef> Monto </th>
                                <td mat-cell *matCellDef="let element"> {{element.Monto}} </td>
                            </ng-container>

                          
                            

                            <tr mat-header-row *matHeaderRowDef="displayedColumnsPagos"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsPagos;"></tr>
                        </table>
                            
                
            </div>
        </div>

        <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-3"><br>
                        <button 
                            nbButton fullWidth  (click)="Pagar()" type="submit" 
                            class="home-button pull-right" status="success">
                                Pagar
                        </button>
        
                </div>
                <div class="col-md-3"><br>
                    <button 
                        nbButton fullWidth  (click)="Cancelar()" type="submit" 
                        class="home-button pull-right" status="danger">
                            Cancelar
                    </button>
    
            </div>
        </div>
</ng-template>

