
<nb-layout center>
      <nb-layout-column>
        <img src="assets/images/cintillo.png" class="cintillo" >
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-5 col-sm-6 col-xs-12"></div>
        
                    
                    <nb-card accent="success" [nbSpinner]="loading"
                          nbSpinnerStatus="danger"
                         nbSpinnerSize="large"
                         nbSpinnerMessage="loading">
                        <nb-card-header >
                          <p style="text-align:center"><img src="assets/images/logo.jpg" class="logo"></p>
                          <h1 id="carousel" class="text-info" style="text-align:center"><marquee direction="right" loop="10">Bienvenido</marquee></h1>

                          <nb-select placeholder="Módulo" shape="round" [(selected)]="selectedItem" fullWidth  
                          [(ngModel)]="estatus" filled status="info">
                              <nb-option value="0">Desarrollo</nb-option>
                              <nb-option value="1">Producción</nb-option>
                          </nb-select>

                        </nb-card-header>
                        <nb-card-body>

                      <div class="col-xs-12" size="large">
                        <input nbInput
                          class="form-control"
                         [(ngModel)]="nombre"
                         name="nombre"
                         id="input-nombre"
                         placeholder="Usuario">

                        <label class="title" text-center><small><a href="" text-center>¿Olvidaste la contraseña? Recuperar Contraseña</a></small></label>
                        
                        <input nbInput
                          class="form-control"
                          [(ngModel)]="clave"
                         name="clave"
                          type="password"
                         id="input-clave"
                         placeholder="Contraseña">                         
                      </div>
      
                      <div class="col-xs-12">
                          <button nbButton
                            fullWidth
                            shape="round"
                            status="success"
                            size="large"
                            [class.btn-pulse]="submitted" class="pull-right">
                            Iniciar sesión
                          </button>

                      </div> 
                    
                        </nb-card-body>
                   <a class="title"><small><br>© Copyright 2019 IAIM- Todos los Derechos Reservados </small></a>
                    </nb-card>
                  
      </div>
    </div>
  </nb-layout-column>
  
</nb-layout>
<div class="footer">Instituto Aeropuerto Internacional de Maiquetía IAIM - 
Dirección de Telemática - Div. Gestión de Tecnología Web</div>