
<div class="row">
  <div class="col-md-12 col-xxxl-12 col-xl-12">

    <nb-card accent="success">
        <nb-card-body >  

        <nb-tabset fullWidth>
            <nb-tab tabTitle="Documentos"> 
                
                <nb-flip-card [showToggleButton]="false" [flipped]="flipped">
                <nb-card-front>
                    <nb-card>
                    
                            <nb-card-body>
                                    <div class="row">                                
                                            <div class="col-md-5">
                                                <div class="form-group">                            
                                                    <nb-select [(selected)]="selectedItem" fullWidth  [(ngModel)]="codigo" >
                                                        <nb-option value="0">Factura</nb-option>
                                                        <nb-option value="1">Nota de Crédito</nb-option>
                                                        <nb-option value="2">Nota de Debito</nb-option>
                                                    </nb-select>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <input placeholder="Contenido a filtrar" nbInput [nbFilterInput]="dataSource" id="search" class="search-input" fullWidth>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <button nbButton (click)="toggleView()" shape="semi-round" size="medium" hero status="primary">
                                                        Nuevo
                                                    </button>
                                                </div>
                                            </div>



                                    </div>


                                        
                            

                                <br><br>
                                
                

                                <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)">

                                    <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
                                    <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

                                    <ng-container [nbTreeGridColumnDef]="customColumn">
                                        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(customColumn)" *nbTreeGridHeaderCellDef>
                                        {{customColumn}}
                                        </th>
                                        <td nbTreeGridCell *nbTreeGridCellDef="let row">                                
                                            {{ row.data[customColumn] == '0'?row.data[customColumn]:'' }}
                                            <button nbButton fullWidth  (click)="openWindowFacturar( this.row )"
                                                    size="tiny" hero status="primary">
                                                    Facturar
                                            </button>
                                        </td>
                                    </ng-container>

                                    <ng-container *ngFor="let column of defaultColumns; let index = index"
                                                    [nbTreeGridColumnDef]="column"
                                                    [showOn]="getShowOn(index)">
                                        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
                                        {{column}}
                                        </th>
                                        <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column] || '-'}}</td>
                                    </ng-container>

                                </table>

                            </nb-card-body>
                    
                    
                    


                        
                    
                    </nb-card>
                </nb-card-front>
                <nb-card-back>
                    <nb-card>
                        <nb-card-header>Documentos</nb-card-header>
                            <nb-card-body>

                        
                            <div class="row">
                                <div class="col-md-12">     
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Código</label>
                                                    <input placeholder="Código" 
                                                        nbInput fullWidth 
                                                        [(ngModel)]="codigo" 
                                                        (blur)="consultarCliente($event)"
                                                        [disabled] = "ngFactura"
                                                    >

                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="form-group">
                                                    <label>Datos del Cliente</label>
                                                    <input placeholder="Cliente" nbInput fullWidth  
                                                    [(ngModel)]="cliente"                                                     
                                                    [disabled] = "ngFactura">
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                    <div class="form-group">      
                                                        <br>                                                  
                                                        <nb-search type="rotate-layout" placeholder="Buscar Cliente"></nb-search>
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="row" style="display: none">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <input nbInput fullWidth [(ngModel)]="rif" >
                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <input nbInput fullWidth  [(ngModel)]="direccion" >
                                                </div>
                                            </div>
                                        
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Tipo de Documento</label>
                                                    <nb-select placeholder="Tipo de Documento"  [(ngModel)]="tipo" 
                                                    [disabled] = "ngFactura" fullWidth>
                                                        <nb-option value="0">Factura</nb-option>
                                                        <nb-option value="1">Nota de Crédito</nb-option>
                                                        <nb-option value="2">Nota de Debito</nb-option>
                                                    </nb-select>
                                                </div>
                                            </div>
                                        
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Servicio</label>
                                                    <nb-select placeholder="Servicio"
                                                    (selectedChange)="consultarConcepto($event)" 
                                                    [(ngModel)]="serviciox" 
                                                    [disabled] = "ngFactura"
                                                    fullWidth>
                                                        <nb-option *ngFor = "let serv of lstServicio"  value="{{serv.cd_servicio}}"> {{ serv.cd_servicio + ' - ' + serv.nb_servicio}} </nb-option>
                                                    </nb-select>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <!-- fin de la fila -->
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                        <label>Servicio</label>
                                                    <nb-select placeholder="Concepto" [(ngModel)]="conceptox"  fullWidth  >
                                                        <nb-option  *ngFor = "let cpt of concepto"  value="{{cpt.cd_concepto}}"> {{cpt.cd_concepto  + ' - ' +  cpt.nb_concepto}} </nb-option>
                                                    </nb-select>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Cantidad</label>
                                                    <input type="number" placeholder="Cantidad" 
                                                    nbInput fullWidth   [(ngModel)]="cantidad" (blur)="consultarCantidad($event)">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Iva</label>
                                                    <input type="number" placeholder="Iva" 
                                                    nbInput fullWidth   [(ngModel)]="ivaf" disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Cuenta</label>
                                                    <input  type="text" placeholder="Cuenta" 
                                                    nbInput fullWidth  [(ngModel)]="cuenta" disabled >
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Monto</label>
                                                    <input   type="number" placeholder="Monto" 
                                                    nbInput fullWidth  [(ngModel)]="monto" (blur)="calcularCantidad($event)">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Total</label>
                                                    <input type="number"  placeholder="Total" 
                                                    nbInput fullWidth  [(ngModel)]="total" disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-2" style="display:none">
                                                <div class="form-group">
                                                    <input  type="number" placeholder="% IVA" nbInput fullWidth  [(ngModel)]="iva">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group" >
                                                    <br>
                                                    <button nbButton 
                                                    (click)="agregarData('top-right','success')" 
                                                    shape="semi-round" size="medium" hero status="primary">
                                                        Agregar
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <br>
                                                    <button nbButton 
                                                    (click)="cancelarData()" 
                                                    shape="semi-round" size="medium" hero status="danger">
                                                        Cancelar
                                                    </button>
                                                </div>
                                            </div>
                                        

                                        </div><!-- fin de la fila -->

                                        <div class="row" >
                                            <div class="col-md-3" style="display:none">
                                                <div class="form-group">
                                                    <input   type="number"  nbInput fullWidth  [(ngModel)]="exentox" >
                                                </div>
                                            </div>
                                            <div class="col-md-3" style="display:none">
                                                <div class="form-group">
                                                    <input   type="number"  nbInput fullWidth  [(ngModel)]="baseimponiblex" >
                                                </div>
                                            </div>
                                            <div class="col-md-3"  style="display:none">
                                                <div class="form-group">
                                                    <input   type="number" placeholder="Monto us" nbInput fullWidth  [(ngModel)]="montous" (blur)="calcularCantidadUS($event)">
                                                </div>
                                            </div>
                                            <div class="col-md-3"  style="display:none">
                                                <div class="form-group">
                                                    <input type="number"  placeholder="Total US" nbInput fullWidth  [(ngModel)]="totalus" disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-3" style="display:none">
                                                <div class="form-group">
                                                    <input  type="number" placeholder="% IVA" nbInput fullWidth  [(ngModel)]="ivat">
                                                </div>
                                            </div>
                                            

                                        </div><!-- fin de la fila -->

                                        <div class="row"><br></div>
                                        <div class="row">

                                                

                                                <table mat-table [dataSource]="dataSourcesx" class="mat-elevation-z8" width="100%" height="100%">
                                                    

                                                    <!-- Checkbox Column -->
                                                    <ng-container matColumnDef="button">
                                                        <th mat-header-cell *matHeaderCellDef>#Acc
                                                           
                                                        </th>
                                                        <td mat-cell *matCellDef="let row">
                                                            <button nbButton (click)="BtnEliminar( this.row )"
                                                                    size="tiny" ghost status="danger">
                                                                <nb-icon icon="trash" ></nb-icon>
                                                                
                                                            </button>
                                                        </td>
                                                    </ng-container>
                                                      <!-- Position Codigo -->
                                                    <ng-container matColumnDef="Codigo">
                                                        <th mat-header-cell *matHeaderCellDef  style="display: none">Codigo</th>
                                                        <td mat-cell *matCellDef="let element" style="display: none">{{element.Codigo}}</td>
                                                    </ng-container>
                                                      <!-- Position Cuenta -->
                                                    <ng-container matColumnDef="Cuenta">
                                                        <th mat-header-cell *matHeaderCellDef>Cuenta</th>
                                                        <td mat-cell *matCellDef="let element">{{element.Cuenta}}</td>
                                                    </ng-container>

                                                    <!-- Position Column -->
                                                    <ng-container matColumnDef="Concepto">
                                                        <th mat-header-cell *matHeaderCellDef>Concepto</th>
                                                        <td mat-cell *matCellDef="let element">{{element.Concepto}}</td>
                                                    </ng-container>

                                                    <!-- Name Column -->
                                                    <ng-container matColumnDef="Cantidad">
                                                        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                                                        <td mat-cell *matCellDef="let element"> {{element.Cantidad}} </td>
                                                    </ng-container>

                                                    <!-- Weight Column -->
                                                    <ng-container matColumnDef="Monto">
                                                        <th mat-header-cell *matHeaderCellDef> Monto </th>
                                                        <td mat-cell *matCellDef="let element"> {{element.Monto}} </td>
                                                    </ng-container>

                                                    <!-- Symbol Column -->
                                                    <ng-container matColumnDef="Iva">
                                                        <th mat-header-cell *matHeaderCellDef> Iva </th>
                                                        <td mat-cell *matCellDef="let element"> {{element.Iva}} </td>
                                                    </ng-container>

                                                    <ng-container matColumnDef="Exento">
                                                        <th mat-header-cell *matHeaderCellDef  style="display: none"> Exento </th>
                                                        <td mat-cell *matCellDef="let element"  style="display: none"> {{element.Exento}} </td>
                                                    </ng-container>

                                                    <ng-container matColumnDef="MontoIva">
                                                        <th mat-header-cell *matHeaderCellDef  style="display: none"> MontoIva </th>
                                                        <td mat-cell *matCellDef="let element"  style="display: none"> {{element.MontoIva}} </td>
                                                    </ng-container>

                                                    <ng-container matColumnDef="Total">
                                                        <th mat-header-cell *matHeaderCellDef  style="display: none"> Total </th>
                                                        <td mat-cell *matCellDef="let element"  style="display: none"> {{element.Total}} </td>
                                                    </ng-container>

                                                    

                                                    <tr mat-header-row *matHeaderRowDef="displayedColumnx"></tr>
                                                    <tr mat-row *matRowDef="let row; columns: displayedColumnx;"></tr>
                                                </table>
                                            
                                        </div> <!-- Control de vida -->
                                        <br>
                                        <div  class="row">
                                                <div class="col-md-6"></div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                            <label >Base </label>
                                                            <input  type="number" placeholder="Base" nbInput 
                                                            [disabled] = "true"
                                                            fullWidth  [(ngModel)]="montobaseimponiblex">
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                            <label >Iva </label>
                                                            <input  type="number" placeholder="Iva" nbInput 
                                                            [disabled] = "true"
                                                            fullWidth  [(ngModel)]="montoivax">
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label >Total</label>
                                                        <input  type="number" placeholder="Total" nbInput 
                                                        [disabled] = "true"
                                                        fullWidth  [(ngModel)]="montototalx">
                                                    </div>
                                                </div>
                                                
                                        </div>
                                        <div  class="row">
                                            <div class="col-md-3">
                                                <button nbButton fullWidth  (click)="toggleView()" class="home-button" status="warning">
                                                    Volver
                                                </button>
                                            </div>
                                            
                                            <div class="col-md-5"></div>
                                            
                                           
                                            <div class="col-md-2">
                                                <button nbButton fullWidth  
                                                    styleSheetFile="http://192.168.41.31:4200/assets/reporte/factura.css"
                                                    printSectionId="print-divFactura"
                                                    ngxPrint
                                                   
                                                    class="home-button pull-right" status="info">
                                                    Previsualizar
                                                </button>
                                            </div>
                                            <div class="col-md-2">
                                                    
                                                    <button nbButton fullWidth  (click)="guardar()"                                                         
                                                        type="submit" 
                                                        class="home-button pull-right" status="success">
                                                        Guardar
                                                    </button>
                                                </div>
                                        </div>
                                    
                                </div>
                            </div>

                    </nb-card-body>
                    <!-- <nb-icon icon="chevron-right-outline" pack="eva" class="flip-icon" (click)="toggleView()"></nb-icon> -->
                    </nb-card>
                </nb-card-back>
                </nb-flip-card>
           
            </nb-tab>            
        </nb-tabset>
        </nb-card-body> 
    </nb-card>

  </div>
</div>


<ng-template #frmProcesar>
    <div class="container">
        <div class="row">
            
            <div class="col-md-12">
                <label>Numero Documento:&nbsp;</label>
                <h1>{{lblNumeroDocumento}}</h1>
            </div>
        </div>
        <div class="row">

            <div class="col-md-8">
            </div>
            <div class="col-md-4">
                <button nbButton   (click)="aceptarDocumento( this )" class="btn-pull-rigth"
                            size="small"  status="success">
                        Aceptar
                </button>
            </div>
            
            
        </div>

    </div>
</ng-template>



<ng-template #frmMensaje>
        <div class="container">

                <div class="row">
                    <div class="col-md-12">    
                        ¿ Estás seguro que deseas cancelar esta operación ?<br><br>
                    </div>
                </div>


                <div class="row">

                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <button nbButton   (click)="siCancelar( this )" class="btn-pull-rigth"
                                    size="small"  status="success">
                                Aceptar
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button nbButton   (click)="noCancelar( $event )" class="btn-pull-rigth"
                                    size="small"  status="danger">
                                Cancelar
                        </button>
        
                    </div>
                   
                </div>
        </div>
</ng-template>



<ng-template #frmCliente >

    <nb-card style="width: 800px; height: 400px;">
        <nb-card-header>Documentos</nb-card-header>
            <nb-card-body>
                <div class="row" >
                        <table mat-table [dataSource]="dataCliente" class="mat-elevation-z8" style="width: 800px; height: 400px;">                

                            <!-- Position Cuenta -->
                            <ng-container matColumnDef="Codigo">
                                <th mat-header-cell *matHeaderCellDef>Codigo</th>
                                <td mat-cell *matCellDef="let element">{{element.Codigo}}</td>
                            </ng-container>
                            <!-- Position Column -->
                            <ng-container matColumnDef="Nombre">
                                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                                <td mat-cell *matCellDef="let element">{{element.Nombre}}</td>
                            </ng-container>
                            <!-- Name Column -->
                            <ng-container matColumnDef="Rif">
                                <th mat-header-cell *matHeaderCellDef> Rif </th>
                                <td mat-cell *matCellDef="let element"> {{element.Rif}} </td>
                            </ng-container>
                        
                            <tr mat-header-row *matHeaderRowDef="displayedColumnCliente"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnCliente;" (click)="asignarCliente( this.row )"></tr>
                        </table>
                </div> <!-- Control de vida -->
        </nb-card-body>    
    </nb-card>

</ng-template>

<ng-template #disabledEsc>
    
</ng-template>


<ng-template #escClose>
    <div class="container">

        <div class="row">
            <div class="col-md-12">    
                ¿Estás seguro que deseas facturar éste número ?<br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                 <label>Numero Documento:&nbsp;</label>
                <h1>{{lblcodigo}}</h1>
            </div>
            <div class="col-md-6">
                 <label>{{lblresultado}}</label>
                <h1>{{seniat}}</h1>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <button nbButton   (click)="cancelar( this )" class="btn-pull-rigth"
                            size="small"  status="primary">
                        Cancelar
                </button>

            </div>
            <div class="col-md-4">
                <button nbButton   (click)="facturar( this )"  class="btn-pull-rigth"
                            size="small" status="success">
                        Facturar
                </button>
            
            </div>
        </div>
    </div>
</ng-template>

<div id="print-divFactura" style="display:none">
    <body>
        <header class="clearfix">
            <table>
                <tbody>
                    <tr>
                        <td class="header_field_1">FACTURA</td>
                        <td class="header_field_2"><b id="fnumero"></b>E00066305 </td>
                        <td class="header_field_2" ><b id="ffecha"></b> 14/04/2020</td>
                        <td class="header_field_3" ><b id="fcontrol"></b>00-00583658 </td>
                    </tr>
                    <tr>
                        <td id="serie" colspan="4" >
                          <b> <label class="normal">SERIE:</label> <p class="pinline" id="fserie">A</p></b>  
                        </td>
                    </tr>
                </tbody>
            </table>
        </header>
        <main>
            <div id="details" class="clearfix">
                <div id="client">
                    <div class="client">
                        <label class="label_left">CÒDIGO:</label> <p id="fcodigocliente">10352</p>
                    </div>
                    <div class="client">
                        <label class="label_left" >CLIENTE:</label><p id="fcliente"> CONSORCIO VENEZOLANO DE INDUSTRIAS AERONAUTICAS 
                        Y SERVICIOS AERES, S.A. (CONVIASA) CONCESION</p>
                    </div>
                    <div class="client">
                        <label class="label_left">RIF:</label> <p id="frif"> G-20007774-3</p>
                    </div>
                    <div class="client">
                        <label class="label_left">DIRECCIÒN:</label> <p id="fdireccion"> AV.INTERCOMUNAL AEROPUERTO INTERNACIONAL DE MAIQUETIA EDF. SECTOR 6.3</p>
                    </div>
                    <div class="right_content">
                        <label class="label_left">CONDICIÒN DE PAGO:</label> <p id="fcondicionpago">DE CONTADO</p> 
                    </div>
                    <div class="right_content">
                        <label class="label_left">TIPO SERVICIO:</label> <p id="ftiposervicio">DOSAS CONTADO </p> 
                    </div>
                    <div>
                    </div>
                </div>
            </div>
            <br>
            <table>
                <thead>
                    <tr>
                        <th class="codigo" style="text-align-last: left">COD.CUENTA</th>
                        <th class="descripcion" style="text-align-last: left">CONCEPTO</th>
                        <th class="numero" style="text-align-last: right">MONTO ($)</th>
                        <th class="numero" style="text-align-last: right">BS X $</th>
                        <th class="numero" style="text-align-last: right">IVA</th>
                        <th class="numero" style="text-align-last: right">MONTO (BS)</th>
                    </tr>
                </thead>
                <tbody id="ContenidoTbl">
                   
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td rowspan="10" colspan="2" class="top_left">
                            <Label class="label_left">OBSEVACIONES:</Label>
                            <Label id="fobservaciones"> </Label>
                        </td>
                        <td class="cell1">
                            <Label class="label_right">SUB-TOTAL $:</Label>
                        </td>
                        <td class="num">
                            <b>
                                <Label id="fsubtotaldivisas">11.286,74</Label>
                            </b>
                        </td>
                        <td class="cell2">
                            <Label class="label_right">SUB-TOTAL:</Label>
                        </td>
                        <td class="num">
                           <b>
                            <Label id="fsubtotalbolivares">711.403,22</Label>
                           </b> 
                        </td>
                    </tr>
                    <tr>
                        <td class="cell1" >
                            <Label class="label_right">BASE IMPONIBLE:</Label>
                        </td>
                        <td class="num">
                            <label id="fbaseimponiblebolivares">696.687,61</label>
                        </td>
                        <td class="cell2">
                            <Label class="label_right">IVA BS:
                                <Label class="pinline" id="fivabolivares">16%</Label>
                            </Label>
                            
                        </td>
                        <td class="num">
                           <b>
                            <Label id="fivabolivares">111.470,02</Label>
                           </b> 
                        </td>
                    </tr>
                    <tr>
                        <td class="cell1">
                            <Label class="label_right">EXENTO:</Label>
                        </td>
                        <td class="num">
                            <Label id="fexentobolivares"> 0.00</Label>
                        </td>
                        <td colspan="2" class="num"></td>
                    </tr>
                    <tr>
                        <td class="cell1">
                            <Label class="label_right">NS:</Label>
                        </td>
                        <td class="num">
                            <Label id="fnsbolivares">14.715,61</Label>
                        </td>
                        <td colspan="2" class="num"></td>
                    </tr>
                    <tr style="border-bottom: 3px solid black;">
                        <td colspan="2"></td>
                        <td class="cell2">
                            <Label class="label_right">TOTAL (BS):</Label>
                        </td>
                        <td class="num">
                           <b>
                            <Label id="ftotalbolivares">822.873,24</Label>
                           </b> 
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="cell2">
                            <Label class="label_right">SUB-TOTAL $:</Label>
                        </td>
                        <td class="num">
                            <b>
                                <Label id="fsubtotaldivisas">11.286,74</Label>
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell1">
                            <Label class="label_right">BASE IMPONIBLE $:</Label>
                        </td>
                        <td class="num">
                            <Label id="fbaseimponibledivisas"> 11.053,27</Label>
                        </td>
                        <td class="cell2">
                            <Label class="label_right">IVA $:
                                <Label class="pinline" id="fivadivisas">16%</Label>
                            </Label>
                            
                        </td>
                        <td class="num">
                            <b>
                                <Label id="fivadivisas">1.768,52</Label>
                            </b>
                            </td>
                    </tr>
                    <tr>
                        <td class="cell1">
                            <Label class="label_right">EXENTO:</Label>
                        </td>
                        <td class="num">
                            <Label id="fexentodivisas"> 0,00</Label>
                        </td>
                        <td colspan="2" class=""></td>
                    </tr>
                    <tr>
                        <td class="cell1">
                            <Label class="label_right">NS:</Label>
                        </td>
                        <td class="num">
                            <Label id="fnsdivisas">233,47</Label>
                        </td>
                        <td colspan="2" class=""></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="cell2">
                            <Label class="label_right">TOTAL ($):</Label>
                        </td>
                        <td class="num">
                           <b>
                            <Label id="ftotaldivisas">13.055,26</Label>
                           </b> 
                        </td>
                    </tr>
                </tbody>
            </table>

        </main>

    </body>
    <footer>
        <div class="margin_bottom_5">
            CONDICIÒN DE PAGO : CONTADO
        </div>

        <div class="margin_bottom_5">
            <Label>
                TASA DE CAMBIO DE FECHA <b id="ffechatasa">17/10/2018</b> POR <b id="ftasavalor">63,03</b>  SEGUN <b id="ftipotasa">DICOM</b>
            </Label>
        </div>

        <div class="margin_bottom_5" id='right'>
            <b id="ffechaimpresion"> 
                    23/02/2019
                    <br> 
                    02:45:18 P.M.
            </b>
        </div>
        <div id='left_50'>
            DSC:
            <b id="fdsc"></b>
        </div>
        <div id='right_50'>
            IMPRESO POR: 
            <b id="fimpresopor">ESALAZAR</b>
        </div>
    </footer>

</div>  
