
<div class="row">
  <div class="col-md-12 col-xxxl-12 col-xl-12">
    <nb-flip-card [showToggleButton]="false" [flipped]="flipped">
      <nb-card-front>
        <nb-card>
           <nb-card-header>Documentos</nb-card-header>
                <nb-card-body>

                        <div class="row">
                                
                                <div class="col-md-5">
                                    <div class="form-group">                            
                                        <nb-select placeholder="Tipo de Documento" [(selected)]="selectedItem" fullWidth  [(ngModel)]="codigo" >
                                            <nb-option value="0">Factura</nb-option>
                                            <nb-option value="1">Nota de Crédito</nb-option>
                                            <nb-option value="2">Nota de Debito</nb-option>
                                        </nb-select>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <input placeholder="Contenido a filtrar" nbInput [nbFilterInput]="dataSource" id="search" class="search-input" fullWidth>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <button nbButton (click)="toggleView()" shape="semi-round" size="medium" hero status="primary">
                                            Nuevo
                                        </button>
                                    </div>
                                </div>



                        </div>


                            
                

                    <br><br>
                    <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)">

                    <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
                    <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

                    <ng-container [nbTreeGridColumnDef]="customColumn">
                        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(customColumn)" *nbTreeGridHeaderCellDef>
                        {{customColumn}}
                        </th>
                        <td nbTreeGridCell *nbTreeGridCellDef="let row">
                        <!-- <nb-fs-icon [kind]="row.data.kind" [expanded]="row.expanded"></nb-fs-icon>-->    
                        {{row.data[customColumn]}}
                        </td>
                    </ng-container>

                    <ng-container *ngFor="let column of defaultColumns; let index = index"
                                    [nbTreeGridColumnDef]="column"
                                    [showOn]="getShowOn(index)">
                        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
                        {{column}}
                        </th>
                        <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column] || '-'}}</td>
                    </ng-container>

                    </table>

                </nb-card-body>
          <!-- <nb-icon icon="chevron-right-outline" pack="eva" class="flip-icon" (click)="toggleView()"></nb-icon> -->
        </nb-card>
      </nb-card-front>
      <nb-card-back>
        <nb-card>
             <nb-card-header>Documentos</nb-card-header>
                <nb-card-body>

            
                <div class="row">
                    <div class="col-md-12">     
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input placeholder="Codigo" nbInput fullWidth [(ngModel)]="codigo" 
                                         (blur)="consultarCliente($event)">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <input placeholder="Cliente" nbInput fullWidth  [(ngModel)]="cliente" >
                                    </div>
                                </div>
                            
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        
                                        <nb-select placeholder="Tipo de Documento"  [(ngModel)]="tipo" fullWidth>
                                            <nb-option value="0">Factura</nb-option>
                                            <nb-option value="1">Nota de Crédito</nb-option>
                                            <nb-option value="2">Nota de Debito</nb-option>
                                        </nb-select>
                                    </div>
                                </div>
                            
                                <div class="col-md-6">
                                    <div class="form-group">
                                        
                                        <nb-select placeholder="Servicio"
                                        (selectedChange)="consultarConcepto($event)" 
                                        [(ngModel)]="servicio" 
                                        fullWidth>
                                            <nb-option *ngFor = "let serv of lstServicio"  value="{{serv.cd_servicio}}"> {{serv.nb_servicio}} </nb-option>
                                        </nb-select>
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- fin de la fila -->
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <nb-select placeholder="Concepto" [(ngModel)]="conceptox"  fullWidth  >
                                            <nb-option  *ngFor = "let cpt of concepto"  value="{{cpt.cd_concepto}}"> {{cpt.nb_concepto}} </nb-option>
                                        </nb-select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input placeholder="Cantidad" nbInput fullWidth   [(ngModel)]="cantidad" (blur)="consultarCantidad($event)">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input placeholder="Monto" nbInput fullWidth  [(ngModel)]="monto" >
                                    </div>
                                </div>
                                <div class="col-md-3" style="display:none">
                                    <div class="form-group">
                                        <input placeholder="% IVA" nbInput fullWidth  [(ngModel)]="iva">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <button nbButton (click)="agregarData()" shape="semi-round" size="medium" hero status="primary">
                                            Agregar
                                        </button>
                                    </div>
                                </div>

                            </div><!-- fin de la fila -->


                            <div class="row">
                                <div class="container">
                                    <br>

                                    <table mat-table [dataSource]="dataSourcesx" class="mat-elevation-z8" width="100%">

                                        <!-- Position Column -->
                                        <ng-container matColumnDef="Concepto">
                                            <th mat-header-cell *matHeaderCellDef>Concepto</th>
                                            <td mat-cell *matCellDef="let element">{{element.Concepto}}</td>
                                        </ng-container>

                                        <!-- Name Column -->
                                        <ng-container matColumnDef="Cantidad">
                                            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                                            <td mat-cell *matCellDef="let element"> {{element.Cantidad}} </td>
                                        </ng-container>

                                        <!-- Weight Column -->
                                        <ng-container matColumnDef="Monto">
                                            <th mat-header-cell *matHeaderCellDef> Monto </th>
                                            <td mat-cell *matCellDef="let element"> {{element.Monto}} </td>
                                        </ng-container>

                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="Iva">
                                            <th mat-header-cell *matHeaderCellDef> Iva </th>
                                            <td mat-cell *matCellDef="let element"> {{element.Iva}} </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumnx"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnx;"></tr>
                                    </table>
                                </div>
                            </div> <!-- Control de vida -->
                            <br>
                            <div  class="row">
                                <div class="col-md-3">
                                    <button nbButton fullWidth  (click)="toggleView()" class="home-button" status="warning">
                                        Volver
                                    </button>
                                </div>
                                
                                <div class="col-md-6"></div>
                                
                                <div class="col-md-3">
                                    <button nbButton fullWidth  (click)="guardar()" type="submit" class="home-button pull-right" status="success">
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        
                    </div>
                </div>

           </nb-card-body>
          <!-- <nb-icon icon="chevron-right-outline" pack="eva" class="flip-icon" (click)="toggleView()"></nb-icon> -->
        </nb-card>
      </nb-card-back>
    </nb-flip-card>
  </div>
</div>


<div id="divFactura">
        <body>
            <header class="clearfix">
                <table>
                    <tbody>
                        <tr>
                            <td class="header_field_1">FACTURA</td>
                            <td class="header_field_2" id="fnumero">1810175631</td>
                            <td class="header_field_2" id="ffecha">26/11/2018</td>
                            <td class="header_field_3" id="fcontrol">0541383</td>
                        </tr>
                        <tr>
                            <td id="serie" colspan="4" id="fserie">SERIE: A</td>
                        </tr>
                    </tbody>
                </table>
            </header>
            <main>
                <div id="details" class="clearfix">
                    <div id="client">
                        <div class="client">
                            <label style="padding-right: 30px;">CÒDIGO:</label> <i id="fcodigocliente">10352</i>
                        </div>
                        <div class="client">
                            <label style="padding-right: 30px;">CLIENTE:</label><i id="fcliente"> CONSORCIO VENEZOLANO DE INDUSTRIAS AERONAUTICAS 
                            Y SERVICIOS AERES, S.A. (CONVIASA) CONCESION</i>
                        </div>
                        <br>
                        <div class="client">
                            <label style="padding-right: 60px;">RIF:</label> G-20007774-3
                        </div>
                        <div class="client">
                            <label style="padding-right: 10px;">DIRECCIÒN:</label> AV.INTERCOMUNAL AEROPUERTO INTERNACIONAL DE MAIQUETIA EDF. SECTOR 6.3
                        </div>
                        <div class="right_content">
                            <label>CONDICIÒN DE PAGO:</label> DE CONTADO
                        </div>
                        <div class="right_content">
                            <label>TIPO SERVICIO:</label> DOSAS CONTADO
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
                <br>
                <table>
                    <thead>
                        <tr>
                            <th>COD.CUENTA</th>
                            <th class="num">CONCEPTO</th>
                            <th class="num">MONTO ($)</th>
                            <th class="num">BS X $</th>
                            <th class="num">IVA</th>
                            <th class="num">MONTO (BS)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>3.03.02.01.05</td>
                            <td class="descripcion">ATERRIZAJE INTERNACIONAL DE PASAJEROS</td>
                            <td class="num">2.334,66</td>
                            <td class="num">63,03</td>
                            <td class="num">16,00</td>
                            <td class="num">147.153,62</td>
                        </tr>
                        <tr>
                            <td>3.03.02.01.16</td>
                            <td class="descripcion">PUENTES MOVILES INTERNACIONALES</td>
                            <td class="num">600,00</td>
                            <td class="num">63,03</td>
                            <td class="num">16,00</td>
                            <td class="num">37.818,00</td>
                        </tr>
                        <tr>
                            <td rowspan="10" colspan="2" class="top_left">
                                <Label>OBSEVACIONES:</Label>
                            </td>
                            <td class="descripcion">
                                <Label>SUB-TOTAL $:</Label>
                            </td>
                            <td class="num">
                                <Label>11.286,74</Label>
                            </td>
                            <td class="descripcion">
                                <Label>SUB-TOTAL:</Label>
                            </td>
                            <td class="num">
                                <Label>711.403,22</Label>
                            </td>
                        </tr>
                        <tr>
                            <td class="descripcion">
                                <Label>BASE IMPONIBLE:</Label>
                            </td>
                            <td class="num">696.687,61</td>
                            <td class="descripcion">
                                <Label style="padding-right: 10px;">IVA BS:</Label>16%:</td>
                            <td class="num">
                                <Label>111.470,02</Label>
                            </td>
                        </tr>
                        <tr>
                            <td class="descripcion">
                                <Label>EXENTO:</Label>
                            </td>
                            <td class="num">0.00</td>
                            <td colspan="2" class="num"></td>
                        </tr>
                        <tr>
                            <td class="descripcion">
                                <Label>NS:</Label>
                            </td>
                            <td class="num">14.715,61</td>
                            <td colspan="2" class="num"></td>
                        </tr>
                        <tr style="border-bottom: 3px solid black;">
                            <td colspan="2"></td>
                            <td class="descripcion">
                                <Label>TOTAL (BS):</Label>
                            </td>
                            <td class="num">
                                <Label>822.873,24</Label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="descripcion">
                                <Label>SUB-TOTAL $:</Label>
                            </td>
                            <td class="num">
                                <Label>11.286,74</Label>
                            </td>
                        </tr>
                        <tr>
                            <td class="descripcion">
                                <Label>BASE IMPONIBLE $:</Label>
                            </td>
                            <td class="num">11.053,27</td>
                            <td class="descripcion">
                                <Label style="padding-right: 20px;">IVA $:</Label>16%:</td>
                            <td class="num">
                                <Label></Label>1.768,52</td>
                        </tr>
                        <tr>
                            <td class="descripcion">
                                <Label>EXENTO:</Label>
                            </td>
                            <td class="num">0,00</td>
                            <td colspan="2" class=""></td>
                        </tr>
                        <tr>
                            <td class="descripcion">
                                <Label>NS:</Label>
                            </td>
                            <td class="num">233,47</td>
                            <td colspan="2" class=""></td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="descripcion">
                                <Label>TOTAL ($):</Label>
                            </td>
                            <td class="num">
                                <Label>13.055,26</Label>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </main>

        </body>
        <footer>
            <div class="margin_bottom_5">
                CONDICIÒN DE PAGO : CONTADO
            </div>

            <div class="margin_bottom_5">
                <Label>
                    TASA DE CAMBIO DE FECHA 17/10/2018 POR BS. 63,03 SEGUN DICOM
                </Label>
            </div>

            <div class="margin_bottom_5" id='right'>
                23/02/2019
                <br> 02:45:18 P.M.
            </div>
            <div id='left_50'>
                DSC:
            </div>
            <div id='right_50'>
                IMPRESO POR: ESALAZAR
            </div>
        </footer>

</div>





