
<div class="row">
  <div class="col-md-12 col-xxxl-12 col-xl-12">
    <nb-flip-card [showToggleButton]="false" [flipped]="flipped">
      <nb-card-front>
        <nb-card>
           <nb-card-header>Documentos</nb-card-header>
                <nb-card-body>

                        <div class="row">
                                
                                <div class="col-md-5">
                                    <div class="form-group">                            
                                        <nb-select placeholder="Tipo de Documento" [(selected)]="selectedItem" fullWidth  [(ngModel)]="codigo" >
                                            <nb-option value="0">Factura</nb-option>
                                            <nb-option value="1">Nota de Crédito</nb-option>
                                            <nb-option value="2">Nota de Debito</nb-option>
                                        </nb-select>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <input placeholder="Contenido a filtrar" nbInput [nbFilterInput]="dataSource" id="search" class="search-input" fullWidth>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <button nbButton (click)="toggleView()" shape="semi-round" size="medium" hero status="primary">
                                            Nuevo
                                        </button>
                                    </div>
                                </div>



                        </div>


                            
                

                    <br><br>
                    <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)">

                    <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
                    <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

                    <ng-container [nbTreeGridColumnDef]="customColumn">
                        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(customColumn)" *nbTreeGridHeaderCellDef>
                        {{customColumn}}
                        </th>
                        <td nbTreeGridCell *nbTreeGridCellDef="let row">
                        <!-- <nb-fs-icon [kind]="row.data.kind" [expanded]="row.expanded"></nb-fs-icon>-->    
                        {{row.data[customColumn]}}
                        </td>
                    </ng-container>

                    <ng-container *ngFor="let column of defaultColumns; let index = index"
                                    [nbTreeGridColumnDef]="column"
                                    [showOn]="getShowOn(index)">
                        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
                        {{column}}
                        </th>
                        <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column] || '-'}}</td>
                    </ng-container>

                    </table>

                </nb-card-body>
          <!-- <nb-icon icon="chevron-right-outline" pack="eva" class="flip-icon" (click)="toggleView()"></nb-icon> -->
        </nb-card>
      </nb-card-front>
      <nb-card-back>
        <nb-card>
             <nb-card-header>Documentos</nb-card-header>
                <nb-card-body>

            
                <div class="row">
                    <div class="col-md-12">     
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input placeholder="Codigo" nbInput fullWidth [(ngModel)]="codigo"  (blur)="consultarCliente($event)">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <input placeholder="Cliente" nbInput fullWidth  [(ngModel)]="cliente" >
                                    </div>
                                </div>
                            
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        
                                        <nb-select placeholder="Tipo de Documento"  [(ngModel)]="tipo" fullWidth>
                                            <nb-option value="0">Factura</nb-option>
                                            <nb-option value="1">Nota de Crédito</nb-option>
                                            <nb-option value="2">Nota de Debito</nb-option>
                                        </nb-select>
                                    </div>
                                </div>
                            
                                <div class="col-md-6">
                                    <div class="form-group">
                                        
                                        <nb-select placeholder="Servicio"
                                        (selectedChange)="consultarConcepto($event)" 
                                        [(ngModel)]="servicio" 
                                        fullWidth>
                                            <nb-option *ngFor = "let serv of lstServicio"  value="{{serv.cd_servicio}}"> {{serv.nb_servicio}} </nb-option>
                                        </nb-select>
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- fin de la fila -->
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <nb-select placeholder="Concepto" [(ngModel)]="conceptox"  fullWidth  >
                                            <nb-option  *ngFor = "let cpt of concepto"  value="{{cpt.cd_concepto}}"> {{cpt.nb_concepto}} </nb-option>
                                        </nb-select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input placeholder="Cantidad" nbInput fullWidth   [(ngModel)]="cantidad" >
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input placeholder="Monto" nbInput fullWidth  [(ngModel)]="monto" >
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input placeholder="% IVA" nbInput fullWidth  [(ngModel)]="iva">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <button nbButton (click)="agregarData()" shape="semi-round" size="medium" hero status="primary">
                                            Agregar
                                        </button>
                                    </div>
                                </div>

                            </div><!-- fin de la fila -->


                            <div class="row">
                                <div class="container">
                                    <br>

                                    <table mat-table [dataSource]="dataSourcesx" class="mat-elevation-z8" width="100%">

                                        <!-- Position Column -->
                                        <ng-container matColumnDef="Concepto">
                                            <th mat-header-cell *matHeaderCellDef>Concepto</th>
                                            <td mat-cell *matCellDef="let element">{{element.Concepto}}</td>
                                        </ng-container>

                                        <!-- Name Column -->
                                        <ng-container matColumnDef="Cantidad">
                                            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                                            <td mat-cell *matCellDef="let element"> {{element.Cantidad}} </td>
                                        </ng-container>

                                        <!-- Weight Column -->
                                        <ng-container matColumnDef="Monto">
                                            <th mat-header-cell *matHeaderCellDef> Monto </th>
                                            <td mat-cell *matCellDef="let element"> {{element.Monto}} </td>
                                        </ng-container>

                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="Iva">
                                            <th mat-header-cell *matHeaderCellDef> Iva </th>
                                            <td mat-cell *matCellDef="let element"> {{element.Iva}} </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumnx"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnx;"></tr>
                                    </table>
                                </div>
                            </div> <!-- Control de vida -->
                            <br>
                            <div  class="row">
                                <div class="col-md-3">
                                    <button nbButton fullWidth  (click)="toggleView()" class="home-button" status="warning">
                                        Volver
                                    </button>
                                </div>
                                
                                <div class="col-md-6"></div>
                                
                                <div class="col-md-3">
                                    <button nbButton fullWidth  (click)="guardar()" type="submit" class="home-button pull-right" status="success">
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        
                    </div>
                </div>

           </nb-card-body>
          <!-- <nb-icon icon="chevron-right-outline" pack="eva" class="flip-icon" (click)="toggleView()"></nb-icon> -->
        </nb-card>
      </nb-card-back>
    </nb-flip-card>
  </div>
</div>





