
<nb-card>
    <nb-card-body>
  
      <nb-tabset fullWidth>
        <nb-tab tabTitle="DOSAS">
          <p>DOSAS</p>
          <ngx-stepper></ngx-stepper>
        </nb-tab>
        <nb-tab tabTitle="TERMINAL AUXILIAR">
          <p>TERMINAL AUXILIAR</p>
        </nb-tab>
        <nb-tab tabTitle="RECAUDACIÓN">
            <p>RECAUDACIÓN</p>
          </nb-tab>
          <nb-tab tabTitle="HABILITADURIA">
            <p>HABILITADURIA</p>
          </nb-tab>
      </nb-tabset>
  
    </nb-card-body>
  </nb-card>
